

$container-max-width: 1200px;
$container-padding: 20px;

$color-neural: #eee;
$color-theme: #fff;
$color-active: #2282ee;
$color-text: #333;

// 1920
$screen-large: 1600px;
$screen-medium: 1280px;
$screen-tablet: 1024px;
$screen-small: 720px;
$screen-xs: 480px;
// 320
