@import "style";
@import "_header";
@import "_body";
@import "_footer";
@import "_constants";
@import "_mixins";

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif; /*-- font-family: 'Pacifico', cursive; --*/
}

// from constants
// $container-max-width: 1170px;
// $container-padding: 15px;
.container {
    width: 100%;
    max-width: $container-max-width + ($container-padding * 2);
    padding: 0 $container-padding;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    }

.fresh-life {
    height: 1000px;
}

.about {
    height: 700px;
}

.our-services {
    height: 790px;
}

.gallery {
    height: 1536px;
}

.subscribe {
    height: 500px;
}

.blog {
    margin-left: auto;
    margin-right: auto;
    background: #b07cf7;
    background-size: 100%;
}

.contact {
    margin-left: auto;
    margin-right: auto;
    background: url(/assets/contact_background_3.png) repeat top;
    image-rendering: optimizeQuality;
    background-size: 100%;
}

.footer {
    margin-top: 0px;
    max-width: 100%;
    background: #262626;
}


button {
    &.button_standart {
        width: 200px;
        height: 54px;
        font-size: 20px;
        line-height: 25px;
        color: #fff;
        font-weight: 300;
        font-family: "Raleway";
        filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.5));
        border: 0;
    }
    &.button_small {
        width: 170px;
        background-color: #96b92c;
        border: 0;
        margin-left: 30px;
    }
}
