@import "constants";
@import "mixins";

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Raleway", sans-serif; /*-- font-family: 'Pacifico', cursive; --*/
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    }

button {
    &.button_standart {
        width: 200px;
        height: 54px;
        font-size: 20px;
        line-height: 25px;
        color: #fff;
        font-weight: 300;
        font-family: "Raleway";
        filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.5));
        border: 0;
    }
    &.button_small {
        width: 170px;
        background-color: #96b92c;
        border: 0;
        margin-left: 30px;
    }
}
