.footer-blog {
    /* height: 865px; */
    background: #b07cf7;
}

.blog-title {
    width: 230px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    font-size: 90px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 700;
    /* font-family: "Raleway"; */
    text-align: center;
    /* background-color: coral; */
}

.blog-about {
    width: 570px;
    height: 65px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    font-size: 17px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
    text-align: center;
    /* background: coral; */
}

.blog-img {
    width: 1170px;
    height: 310px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    /* background: coral; */
}

.blog_fresh {
    width: 370px;
    height: 310px;
    background: url(/assets/blog_fresh.svg) no-repeat left;
    position: relative;
}

.blog_14now-1 {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 30px;
    /* background: #4f555e; */
    border-radius: 4px;
    font-size: 32px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    background-color: rgb(79, 85, 94);
    background-color: rgba(26, 46, 77, 0.4);
}

.blog_now-1 {
    font-size: 22px;
    line-height: 25px;
    color: #ffffff;
    position: relative;
}

.blog_about_fresh {
    width: 370px;
    height: 80px;
    margin-top: 200px;
    margin-left: 22px;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 700;
    position: absolute;
}

.blog_auskteez {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #e2e3e2;
}

.blog_soup {
    width: 370px;
    height: 310px;
    background: url(/assets/blog_soup.svg) no-repeat center bottom;
    position: relative;
}

.blog_14now-2 {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 430px;
    margin-top: 30px;
    /* background: #4f555e; */
    border-radius: 4px;
    font-size: 32px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    background-color: rgb(79, 85, 94);
    background-color: rgba(26, 46, 77, 0.4);
    /* opacity: 0.4;
filter: alpha(opacity=40) */
}

.blog_now-2 {
    font-size: 22px;
    line-height: 25px;
    color: #ffffff;
    position: relative;
}

.blog_about_soup {
    width: 370px;
    height: 80px;
    margin-top: 200px;
    margin-left: 420px;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 700;
    position: absolute;
}

.blog_raspberry {
    width: 370px;
    height: 310px;
    background: url(/assets/blog_raspberry.svg) no-repeat center;
    position: relative;
}

.blog_14now-3 {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 830px;
    margin-top: 30px;
    /* background: #4f555e; */
    border-radius: 4px;
    font-size: 32px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    background-color: rgb(79, 85, 94);
    background-color: rgba(26, 46, 77, 0.4);
}

.blog_now-3 {
    font-size: 22px;
    line-height: 25px;
    color: #ffffff;
    position: relative;
}

.blog_about_raspberry {
    width: 370px;
    height: 80px;
    margin-top: 200px;
    margin-left: 820px;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 700;
    position: absolute;
}

.contacts {
    background-image: url(/assets/footer-background.svg);
}

.contact__title {
}

.blog-button {
    width: 200px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background: #f72b3b;
    font-size: 20px;
    line-height: 55px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
}

.blog-button:hover {
    background: rgb(53, 167, 110);
}
.blog-button:active {
    background: rgb(33, 147, 90);
    box-shadow: 0 3px rgb(33, 147, 90) inset;
}
