/* 1920
1600
1080
1024
768
640
320 */

@media screen and (max-width:1920px) {
    .blog-container {
        max-width: 1400px;
        margin: 0 auto;
    }

    .contact-container {
        max-width: 1400px;
        margin: 0 auto;
    }

    .footer__container {
        max-width: 1400px;
        margin: 0 auto;
    }
}